<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>mainhome</title>
</head>
<body>
{% if user.is_authenticated %}
welcome ** {{ user.username }} ** joon <br>
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit" > logout </button>
    </form>
{% else %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <button type="submit" > login </button><br>

    </form>
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <button type="submit" > sign up </button>

    </form>


{% endif %}

My website Homepage
</body>
</html>