<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post details</title>
</head>
<body>
{#    {% for post in posts %}#}
        <h1> {{ post.title }}</h1>
        <h2> {{ post.author }}</h2>
        <p>  {{ post.text }}</p>
        <p>  status: {{ post.status }}</p>
        <p>  
            <b> date created: {{ post.date_created}}</b><br>
            <b> date modified: {{ post.date_modified}}</b><br>
        <p>
        <b> <a href = "{% url 'update_post' post.id %}"> -edit- </a></b>
        <b> <a href = "{% url 'delete_post' post.id %}"> -delete- </a></b>

        </p>
        <p><b>
            
        </b></p>
{#    {% endfor %}#}
</body>
</html>